body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: aquamarine;
}


p {
    line-height: 1.5;
    background-color: aqua;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:crimson;
}

h3 {
    font-family:'Times New Roman', Times, serif;
    color:darkslategray;
}

img {
    max-height: 400px;
}

.importantItem {
    color: darkblue;
}
